body{
     font-family: 'Oswald', sans-serif;
     background-color: rgb(32, 77, 58);
     margin: 0px;
}


.contenedor{
     width: 100%;
     height: 200px;
     background-color: rgb(32, 77, 58);
     
}

.barra{
     margin: 0;
     width: 100%;
     height: 70px;
     background-color: #2B3B45;
}

.barra a{
     font-size: 40px;
     margin-left: 20px;
     color: #ffffff;
     text-decoration: none;
}

.barra a:hover{
     color: rgb(255, 137, 1);
     cursor: pointer;
}

.contenedor h1{
     margin-left: 20px;
     margin-top: 0;
     font-size: 60px;
     color: rgb(255, 137, 1);
     font-weight: 200;
     margin-bottom: 0;
}

.contenedor h2{
     margin: 0px 0px 0px 20px;
     font-size: 40px;
     font-weight: 100;
     color: #ffffff;
}

.contenedor h3{
     margin: 0;
     padding-left: 20px;
     font-size: 40px;
     color: rgb(255, 137, 1);
     font-weight: 700;
}

article{
     width: 100%;
}

.contenido{
     background-color: #ffffff;
     width: 90%;
     height: 440px;
     display: flex;
     margin: 0 auto;
}

.contenedorImg{
     width: 250%;
}

.contenedorImg img{
     width: 100%;
     height: 400px;
     margin-left: 20px;
     margin-top: 20px;
     background-color: #ffffff;
}

.contenedor2 h2{
     margin-top: 0;
     margin-left: 210px;
     font-size: 50px;
     font-weight: 300;
}

.portafolio1{
     line-height: 30px;
}

.portafolio1 h2{
     margin-left: 180px;
}

.portafolio1 p{
     margin-left: 80px;
     margin-right: 0px;
     font-size: 30px;
     font-weight: 200;
     text-align: justify;
}

.port-p{
     margin-right: 40px;
}

.barra-footer{
     display: flex;
     width: 100%;
     height: 120px;
}

.barra-footer img{
     width: 80px;
     height: 70px;
     margin-top: 30px;
     margin-left: 20px;
}

.barra-footer p{
     margin-top: 32px;
     margin-left: 10px;
     font-size: 40px;
     color: #ffffff;
}